
  <%if(success){%>
    <div class="row">
    <% channels.forEach(function(ch){ %>
     <div class="col-sm-6 col-md-4" id="<%=ch._id%>">
      <div class="thumbnail">
        <img alt="Radio logo" src="<%=ch.logo%>">
        <div class="caption">
          <h3><%=ch.name%></h3>
          <p>Tags: <% ch.tags.forEach(function(t){ %>
              <a href="/tags/<%=t%>"><%=t%></a> 
              <% });%>
          </p>
          <p><span><%=ch.comments.star.length%><img src="/images/star.png" width="15px"></span> <span> listent:<%=ch.comments.listent%></span><button type="button" class="btn btn-default">Play</button></p>
        </div>
      </div>
    </div>
  <% });%>
  </div>
 <% }else{%>
      <h3>Cannot query to data</h3>
      <h4>Error code: <%=error.code%></h4>
      <p>Error message: <%=error.message%></p>
 <% }%>
  
