<% if(success){%>
<h3><strong>"<%=channel.name%> "</strong> radio stream was updated successfully ! </h3>
<div class="thumbnail">
          <img alt="Radio logo" src="<%=channel.logo%>">
          <div class="caption">
            <p>Tags: <% channel.tags.forEach(function(t){ %>
              <a href="/tags/<%=t%>"><%=t%></a>,
              <% });%>
            </p>
            Stream urls:
            <ul><% channel.urls.forEach(function(u){ %>
              <li><%=u%></li>
              <% });%>
            </ul>
          </div>
        </div>
<%} else{%>
  <h3>Cannot add new channel</h3>
  <h4>Error code: <%=error.code%></h4>
  <p>Error message: <%=error.message%></p>
<% }%>
<a href="/admin" role="button" class="btn btn-default">Go to admin page</a>